<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @skill_level.name %>
</p>

<p>
  <strong>Summary:</strong>
  <%= @skill_level.summary %>
</p>

<p>
  <strong>Question:</strong>
  <%= @skill_level.question %>
</p>

<p>
  <strong>Number:</strong>
  <%= @skill_level.number %>
</p>

<%= link_to 'Edit', edit_skill_level_path(@skill_level) %> |
<%= link_to 'Back', skill_levels_path %>
