<div id="info-enquiry">

	<br><br>

	<div class="container">
		<div class="row">
			<div class="col-sm-6 col-sm-offset-3">
				<img src="<%= asset_path 'logo-footer.png' %>" class="img-responsive" >
					<%= simple_form_for(@info_enquiry) do |f| %>
					  <%= f.error_notification %>
					  <h3 class="text-center">Download the info pack</h3>
					  <hr>
					  <div class="form-group">
					    <%= f.input :first_name, label: false, placeholder: '* Your first name', input_html: { class: 'form-control'} %>
					  </div>
					 	<div class="form-group">
					    <%= f.input :email, label: false, placeholder: '* Your email', input_html: { class: 'form-control'} %>
					  </div>
			  		<%= f.submit 'Download info pack', class: 'btn btn-lg btn-default btn-block' %>
  
					<% end %>
					<br><br>
				</div>
			</div>
		</div>
	</div>