<%= render 'header' %>

<div id="main">

	<div class="section">
		<%= render 'hero' %>

		<div class="dark-blue">
		</div>
	</div>


	<div class="section">
		<%= render 'about' %>
	</div>

	<div class="section" data-anchor="course" id="section2">
		<%= render 'course' %>
	</div>

	<div class="section" data-anchor="schedule" id="section3">
		<%= render 'schedule' %>
	</div>
<div class="section" data-anchor="team" id="section4">
	<%= render 'team' %>
</div>


<div class="section" data-anchor="faq" id="section5">
<%= render 'faq' %>
</div>
<div class="section">


</div>
<%= render 'enquiry_form' %>
<%= render 'application_form' %>

<script>
$(document).ready(function() {
    $('#fullpage').fullpage({
        verticalCentered: false,
        resize : false,
        // slidesColor : ['#ccc', '#fff'],
        anchors:['home', 'coder-factory', 'course', 'schedule', 'team', 'faq'],
        scrollingSpeed: 1700,
        easing: 'easeInOutExpo',
        touchSensitivity: 6,
        paddingTop: 0
    });
});
</script>
