<%= render 'header' %>

<div id="main">

	<div class="section">
		<%= render 'hero' %>
	</div>
		


	<div class="section">
		<%= render 'about' %>
	</div>

	<div class="section" data-anchor="course" id="section2">
		<%= render 'course' %>
	</div>

	<div class="section" data-anchor="schedule" id="section3">
		<%= render 'schedule' %>
	</div>
<div class="section" data-anchor="team" id="section4">
	<%= render 'team' %>
</div>


<div class="section" data-anchor="faq" id="section5">
<%= render 'faq' %>
</div>
<div class="section" data-anchor="numbers" id="section6">
<%= render 'numbers' %>
</div>
<div class="section" data-anchor="apply" id="section7">
<%= render 'application_form' %>
</div>
<div class="section" data-anchor="footer" id="section8">

<%= render 'footer' %>
	
</div>

<%= render 'enquiry_form' %>


<script>
$(document).ready(function() {
    $('#fullpage').fullpage({
        verticalCentered: false,
        resize : false,
        // slidesColor : ['#ccc', '#fff'],
        anchors:['home', 'coder-factory', 'course', 'schedule', 'team', 'faq'],
        scrollingSpeed: 1700,
        easing: 'easeOutSine',
        touchSensitivity: 6,
        paddingTop: 0
    });
});
</script>
<script>
$(document).ready(function() {
	$(".various").fancybox({
		maxWidth	: 800,
		maxHeight	: 600,
		fitToView	: false,
		width		: '70%',
		height		: '70%',
		autoSize	: true,
		closeClick	: false,
		openEffect	: 'none',
		closeEffect	: 'none',
		padding : 0,
		openEffect : 'elastic',
		openSpeed : 500,
		openEasing : 'easeInCubic'
	});
});
</script>
<script>
$.validate();
</script>
