<%= render 'header' %>

<div id="main">

	<%= render 'hero' %>

<div class="section white" style="padding-top: 7%;" >
	<%= render 'about' %>
</div>

<div class="section grey" style="padding-top: 7%;" data-anchor="course" id="course">
	<%= render 'course' %>
</div>

<div class="white section" style="padding-top: 7%;" data-anchor="schedule" id="schedule">	
	<%= render 'schedule' %>
</div>
	
	<%= render 'team' %>

	<%= render 'faq' %>
	
	<%= render 'numbers' %>

	<%= render 'application_form' %>

	<%= render 'footer' %>
	
	<%= render 'enquiry_form' %>


</div>