<p id="notice"><%= notice %></p>

<p>
  <strong>Event:</strong>
  <%= @event_registration.event %>
</p>

<p>
  <strong>First name:</strong>
  <%= @event_registration.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @event_registration.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @event_registration.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @event_registration.phone %>
</p>

<%= link_to 'Edit', edit_event_registration_path(@event_registration) %> |
<%= link_to 'Back', event_registrations_path %>
