<h1>Listing skill_groups</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Icon</th>
      <th>Slug</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @skill_groups.each do |skill_group| %>
      <tr>
        <td><%= skill_group.name %></td>
        <td><%= skill_group.description %></td>
        <td><%= skill_group.icon %></td>
        <td><%= skill_group.slug %></td>
        <td><%= link_to 'Show', skill_group %></td>
        <td><%= link_to 'Edit', edit_skill_group_path(skill_group) %></td>
        <td><%= link_to 'Destroy', skill_group, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Skill group', new_skill_group_path %>
