<h1>Listing course_applications</h1>

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Intake</th>
      <th>Referrer</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @course_applications.each do |course_application| %>
      <tr>
        <td><%= link_to course_application.first_name + ' ' + course_application.last_name, course_application %></td>
        <td><%= course_application.intake.title %></td>
        <td><%= course_application.referrer.name if course_application.referrer %></td>
        <td><%= link_to 'Edit', edit_course_application_path(course_application) %></td>
        <td><%= link_to 'Delete', course_application, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Course application', new_course_application_path %>
