<p id="notice"><%= notice %></p>

<p>
  <strong>Course:</strong>
  <%= @course_application.course %>
</p>

<p>
  <strong>Intake:</strong>
  <%= @course_application.intake %>
</p>

<p>
  <strong>First name:</strong>
  <%= @course_application.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @course_application.last_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @course_application.email %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @course_application.phone %>
</p>

<p>
  <strong>Reason:</strong>
  <%= @course_application.reason %>
</p>

<p>
  <strong>Experience:</strong>
  <%= @course_application.experience %>
</p>

<p>
  <strong>Education:</strong>
  <%= @course_application.education %>
</p>

<p>
  <strong>Age:</strong>
  <%= @course_application.age %>
</p>

<p>
  <strong>City:</strong>
  <%= @course_application.city %>
</p>

<p>
  <strong>Country:</strong>
  <%= @course_application.country %>
</p>

<p>
  <strong>Employed:</strong>
  <%= @course_application.employed %>
</p>

<p>
  <strong>Referral:</strong>
  <%= @course_application.referral %>
</p>

<%= link_to 'Edit', edit_course_application_path(@course_application) %> |
<%= link_to 'Back', course_applications_path %>
