<h1>Listing info_enquiries</h1>

<table>
  <thead>
    <tr>
      <th>Email</th>
      <th>Referrer</th>
      <th>First name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @info_enquiries.each do |info_enquiry| %>
      <tr>
        <td><%= info_enquiry.email %></td>
        <td><%= info_enquiry.referrer %></td>
        <td><%= info_enquiry.first_name %></td>
        <td><%= link_to 'Show', info_enquiry %></td>
        <td><%= link_to 'Edit', edit_info_enquiry_path(info_enquiry) %></td>
        <td><%= link_to 'Destroy', info_enquiry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Info enquiry', new_info_enquiry_path %>
