<p id="notice"><%= notice %></p>

<p>
  <strong>Payment method:</strong>
  <%= @payment.payment_method %>
</p>

<p>
  <strong>Payment price:</strong>
  <%= @payment.payment_price %>
</p>

<p>
  <strong>User:</strong>
  <%= @payment.user %>
</p>

<%= link_to 'Edit', edit_payment_path(@payment) %> |
<%= link_to 'Back', payments_path %>
