<h1>Listing referral_enrolments</h1>

<table>
  <thead>
    <tr>
      <th>Referrer</th>
      <th>Enrolment</th>
      <th>Student paid</th>
      <th>Amount owed</th>
      <th>Date paid</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referral_enrolments.each do |referral_enrolment| %>
      <tr>
        <td><%= referral_enrolment.referrer %></td>
        <td><%= referral_enrolment.enrolment %></td>
        <td><%= referral_enrolment.student_paid %></td>
        <td><%= referral_enrolment.amount_owed %></td>
        <td><%= referral_enrolment.date_paid %></td>
        <td><%= link_to 'Show', referral_enrolment %></td>
        <td><%= link_to 'Edit', edit_referral_enrolment_path(referral_enrolment) %></td>
        <td><%= link_to 'Destroy', referral_enrolment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referral enrolment', new_referral_enrolment_path %>
