<h1>Listing referrers</h1>

<table class="table">
  <thead>
    <tr>
      <th>User</th>
      <th>Name</th>
      <th>Referral visits</th>
      <th>Referral applications</th>
      <th>Company</th>
      <th>Referral code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @referrers.each do |referrer| %>
      <tr>
        <td><%= referrer.user %></td>
        <td><%= referrer.name %></td>
        <td><%= referrer.referral_visits.count %></td>
        <td><%= referrer.course_applications.count %></td>
        <td><%= referrer.company %></td>
        <td><%= referrer.referral_code %></td>
        <td><%= link_to 'Show', referrer %></td>
        <td><%= link_to 'Edit', edit_referrer_path(referrer) %></td>
        <td><%= link_to 'Destroy', referrer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Referrer', new_referrer_path %>
