<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @testimonial.name %>
</p>

<p>
  <strong>Quote:</strong>
  <%= @testimonial.quote %>
</p>

<p>
  <strong>Text:</strong>
  <%= @testimonial.text %>
</p>

<p>
  <strong>Image:</strong>
  <%= @testimonial.image %>
</p>

<p>
  <strong>Course:</strong>
  <%= @testimonial.course %>
</p>

<p>
  <strong>Featured:</strong>
  <%= @testimonial.featured %>
</p>

<%= link_to 'Edit', edit_testimonial_path(@testimonial) %> |
<%= link_to 'Back', testimonials_path %>
