<%= simple_form_for(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :building %>
    <%= f.input :street %>
    <%= f.input :suburb %>
    <%= f.input :state %>
    <%= f.input :postcode %>
    <%= f.input :country %>
    <%= f.input :map_link %>
    <%= f.input :city %>
    <%= f.input :logo %>
    <%= f.input :embed_map %>
    <%= f.input :website %>
    <%= f.input :phone %>
    <%= f.input :image %>
    <%= f.input :slug %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
