<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @location.name %>
</p>

<p>
  <strong>Building:</strong>
  <%= @location.building %>
</p>

<p>
  <strong>Street:</strong>
  <%= @location.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @location.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @location.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @location.postcode %>
</p>

<p>
  <strong>Country:</strong>
  <%= @location.country %>
</p>

<p>
  <strong>Map link:</strong>
  <%= @location.map_link %>
</p>

<p>
  <strong>City:</strong>
  <%= @location.city %>
</p>

<p>
  <strong>Logo:</strong>
  <%= @location.logo %>
</p>

<p>
  <strong>Embed map:</strong>
  <%= @location.embed_map %>
</p>

<p>
  <strong>Website:</strong>
  <%= @location.website %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @location.phone %>
</p>

<p>
  <strong>Image:</strong>
  <%= @location.image %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @location.slug %>
</p>

<%= link_to 'Edit', edit_location_path(@location) %> |
<%= link_to 'Back', locations_path %>
