<%= simple_form_for(@intake) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.association :course %>
    <%= f.association :location %>
    <%= f.input :day %>
    <%= f.input :date %>
    <%= f.input :end_date %>
    <%= f.input :start_time %>
    <%= f.input :end_time %>
    <%= f.input :number_of_places %>
    <%= f.input :number_of_students_registered %>
    <%= f.input :active %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
