<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) : "Web application development: courses and training @ Coder Factory" %></title>
  <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "See our new improved programmes that help you become a confident web application developer. Programmes start every month." %>">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= stylesheet_link_tag    "zcf", media: "all", "data-turbolinks-track" => true %>

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag "body" %>
   
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-43181031-3', 'auto');
  ga('send', 'pageview');

</script>
<link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
<link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
<link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
<link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
<link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
<link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
<link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
<link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
<link rel="icon" type="image/png" href="/favicon-196x196.png" sizes="196x196">
<link rel="icon" type="image/png" href="/favicon-160x160.png" sizes="160x160">
<link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
<link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
<link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-TileImage" content="/mstile-144x144.png">

<!-- Add the following three tags inside head. -->
    <meta itemprop="name" content="<%= content_for?(:title) ? yield(:title) : 'Web app development: courses and training @ Coder Factory' %>">
    <meta itemprop="description" content="<%= content_for?(:description) ? yield(:description) : 'See our new improved programmes that help you become a confident coder. Programmes start every month.' %>">
    <meta itemprop="image" content="<%= content_for?(:image) ? yield(:image) : asset_path('logo.png') %>">
    <!-- Twitter tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@coderfactory">
    <meta name="twitter:title" content="<%= content_for?(:title) ? yield(:title) : 'Web app development: courses and training @ Coder Factory' %>">
    <meta name="twitter:description" content="<%= content_for?(:description) ? yield(:description) : 'See our new improved programmes that help you become a confident coder. Programmes start every month.' %>">
    <meta name="twitter:creator" content="<%= content_for?(:author) ? yield(:author) : '@coderfactory' %>">
    <meta name="twitter:image:src" content="<%= content_for?(:image) ? yield(:image) : asset_path('logo.png') %>">
    <!-- Open Graph -->
    <meta property="og:title" content="<%= content_for?(:title) ? yield(:title) : 'Web app development: courses and training @ Coder Factory' %>" />
    <meta property="og:image" content="<%= content_for?(:image) ? yield(:image) : asset_path('logo.png') %>" /> 
    <meta property="og:description" content="<%= content_for?(:description) ? yield(:description) : 'See our new improved programmes that help you become a confident coder. Programmes start every month.' %>" /> 

   
</head>
<body>

		<%= yield %>
    


<script>
$(document).ready(function() {
  $(".various").fancybox({
    maxWidth  : 800,
    maxHeight : 600,
    fitToView : false,
    width   : '70%',
    height    : '70%',
    autoSize  : true,
    closeClick  : false,
    openEffect  : 'none',
    closeEffect : 'none',
    padding : 0,
    openEffect : 'elastic',
    openSpeed : 500,
    openEasing : 'easeInCubic'
  });
});
</script>

<script>
$.validate();
</script>




</body>
</html>
